//
   Created by jamiecho on 2/10/16.
html(lang="en")
   head
      title FishTags
   body
      div
         form(method="POST", enctype="multipart/form-data")
            input(type="file",name="photo")
            input(type="submit" name="SUBMIT" value="Submit")